# .gitignore for Unity, http://kleber-swf.com/the-definitive-gitignore-for-unity-projects/
Temp/
Obj/
UnityGenerated/
Library/
 
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
 
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
